/* Reseta as margens e o padding padrão */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /* Estilizando o corpo da página */
    body {
        font-family: Arial, sans-serif;
        background-color: pink;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    /* Contêiner do formulário de login */
    .login-container {
        background-color: #58ffd5;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
    }
    
    /* Estilo do título */
    h1 {
        text-align: center;
        color: #101111;
        margin-bottom: 20px;
    }
    
    /* Estilo dos rótulos */
    label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        color: #555;
    }
    
    /* Estilo dos campos de entrada */
    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
    }
    
    /* Estilo do botão */
    button {
        width: 100%;
        padding: 10px;
        background-color: #4c66af;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    div{
        text-align: center;
    }
    
    /* Estilo do botão ao passar o mouse */
    button:hover {
        background-color: #e7dd50;
    }
    
    /* Estilo da mensagem de erro */
    .error-message {
        color: red;
        font-size: 12px;
        margin-bottom: 10px;
    }
    /*Estilo do cabeçalho*/
footer{
            background-color: pink;
            color: black;
            text-align: center;
            padding: 0.5rem;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
      
         
         

