@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.satisfy-regular {
    font-family: "Satisfy", serif;
    font-weight: 400;
    font-style: normal;
  }

@font-face{
    font-family: "Satisfy", cursive;
    src: url("../fonts/Satisfy/Satisfy-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-main: "Poppins", sans-serif;
    --font-second: "Satisfy", cursive;
    --colo-main: blue;
}

body{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(17, 17, 163, 0.39);
}

div.logo{
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.logo h1{
    font-family: var(--font-second);
    color: var(--colo-main);
    font-size: 3.5rem;
}

div .info{
    font-family: var(--font-main);
    color: black;
    font-size: 1.5rem;
    text-align: center;
    border: none!important;
    background-color: #131cbe2f;
}

div .card{
    border: none!important;
    box-shadow: 0px 0px 10px -1px #1a07e7;
    padding: 10px;
    overflow: auto;
    scrollbar-width: none;  /* Esconde em Firefox */
}

div .card::-webkit-scrollbar {
    display: none; /* Esconde em Chrome, Edge e Safari */
}

.card h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.card .row{
    gap: 10px;
}

.card .form-control, #lembrar{
    border-color: var(--colo-main)!important;
    border: 2px solid;
}

.card a, .card button{
    text-decoration: none;
    color: var(--colo-main);
}

.card div #recuperar-senha{
    text-align: center!important;
    margin: 5px 5px 5px 5px;
}

.bg-image {
    background-image: url('../img/IMG_20250113_104949.jpg') !important; 
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

